.card {
  width: 100%;
  max-width: 17.625rem;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 0.5rem 0.5rem 0.5rem 3rem;
  border: 0.125rem solid var(--grey-dark);
  background-color: var(--grey-light);
  box-sizing: border-box;
  box-shadow: 0 0.625rem 0.9375rem 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card:active {
  transform: scale(0.95);
}

.pointsBox {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.point {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 0.125rem solid var(--grey-dark);
  background-color: var(--red-bright);
}

.imageContainer {
  width: 100%;
  height: 9.375rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--grey-dark);
  position: relative;
  overflow: hidden;
}

.loadingScreen {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 0.125rem solid var(--green-dark);
  background-color: var(--green-light);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.errorIcon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--green-dark);
}

.screenMessage {
  font-size: 0.5rem;
  font-weight: 600;
  color: var(--green-dark);
  text-align: center;
}

.screenButton {
  width: min-content;
  padding: 0.5rem;
  border-radius: 0.125rem;
  background-color: var(--green-dark);
  color: var(--green-light);
  font-size: 0.5rem;
}

.pokemonImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  color: var(--font-color-light);
}

.name {
  font-size: 0.75rem;
  color: var(--font-color-medium);
  text-align: right;
  text-wrap: nowrap;
}
