:root {
  --black-dark: #444444;
  --grey-dark: #7c8282;
  --grey-light: #e3e3e3;
  --red-dark: #8c072a;
  --red-medium: #a20810;
  --red-light: #d30a40;
  --red-bright: #e9011a;
  --blue-dark: #0ebdd2;
  --blue-medium: #09eff4;
  --blue-light: #a4f4f9;
  --yellow-dark: #8f963d;
  --yellow-light: #e8f25e;
  --green-dark: #6dab38;
  --green-light: #9afe5f;
  --white: #ffffff;
  --font-color-dark: #3a444d;
  --font-color-medium: #757575;
  --font-color-light: #aaaaaa;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
  background-color: var(--red-light);
  position: relative;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
