.header {
  height: 4rem;
}

.headerForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.leftHeaderForm {
  position: relative;
  height: 4rem;
  flex-grow: 1;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.leftHeaderForm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: var(--red-light);
}

.middleHeaderForm {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  top: 4rem;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, calc(-100% - 0.5178125rem));
}

.middleHeaderForm::before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  background-color: var(--red-light);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.rightHeaderForm {
  position: relative;
  height: 2.5rem;
  flex-grow: 1;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.rightHeaderForm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: var(--red-light);
}
