.header {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
}

.headerForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.leftHeaderForm {
  position: relative;
  height: 4rem;
  flex-grow: 1;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.leftHeaderForm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background-color: var(--red-light);
}

.middleHeaderForm {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  top: 4rem;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, calc(-100% - 0.5178125rem));
}

.middleHeaderForm::before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  background-color: var(--red-light);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.rightHeaderForm {
  position: relative;
  height: 2.5rem;
  flex-grow: 1;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.rightHeaderForm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background-color: var(--red-light);
}

.content {
  position: relative;
  padding: 0.5rem 1rem;
  z-index: 7;
  display: flex;
  gap: 0.5rem;
}

.borderSphere {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.125rem solid var(--grey-dark);
  background-color: #ffffff;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

.sphere {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--grey-dark);
  background-color: var(--blue-medium);
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

.textAndPoints {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.pointsBox {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.point {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 0.125rem solid var(--grey-dark);
}

.pointRed {
  background-color: var(--red-bright);
}

.pointYellow {
  background-color: var(--yellow-light);
}

.pointGreen {
  background-color: var(--green-light);
}

.title {
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
