.content {
  width: 100%;
  max-width: 25rem;
  max-height: calc(100dvh - 2rem);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--red-dark);
  background-color: var(--red-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.infoAndWeight {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.typesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.sectionTitle {
  font-size: 0.5rem;
  font-weight: 400;
  color: #ffffff;
  text-wrap: nowrap;
}

.typesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.type {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--blue-dark);
  background-color: var(--blue-medium);
  font-size: 0.8rem;
  color: var(--font-color-dark);
  box-shadow: 0.125rem 0.125rem 0.125rem var(--blue-dark);
}

.weightContent {
  padding-right: calc(calc(100% - 17.625rem) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.weight {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  text-wrap: nowrap;
}

.abilitiesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.abilitiesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ability {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--yellow-dark);
  background-color: var(--yellow-light);
  color: var(--font-color-dark);
  font-size: 0.8rem;
  box-shadow: 0.125rem 0.125rem 0.125rem var(--yellow-dark);
  cursor: pointer;
}

.selectedAbility {
  background-color: var(--yellow-dark);
  color: var(--yellow-light);
}

.abilityScreen {
  width: 100%;
  min-height: 9.375rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 0.125rem solid var(--green-dark);
  background-color: var(--green-light);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.screenMessage {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--green-dark);
  text-align: center;
}

.abilityBox {
  flex-grow: 1;
  position: relative;
}

.loadingMessage {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--green-dark);
  text-align: left;
}

.abilityEffect {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.effectDescription {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--green-dark);
  text-align: left;
}

.closeModal {
  /* width: min-content; */
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: 0.125rem solid #000000;
  background-color: var(--black-dark);
  color: var(--white);
  font-size: 0.5rem;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
  cursor: pointer;
}

@media (min-width: 27rem) {
  .content {
    min-width: 25rem;
  }
}

@media (min-width: 50rem) {
  .content {
    max-width: 50rem;
  }
  .header {
    flex-direction: row;
  }
}
