.main {
  height: calc(100% - 5.125rem);
  position: relative;
  /* flex-grow: 1; */
  margin: 4.625rem 0.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  border-width: 0 0.125rem 0.125rem 0.125rem;
  border-style: solid;
  border-color: var(--red-dark);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}

.mainForm {
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: -0.125rem;
  right: -0.125rem;
  z-index: -1;
  transform: translateY(-100%);
  display: flex;
  justify-content: space-between;
}

.mainLeftForm {
  width: calc(50% + 0.5rem);
  border-width: 0 0 0.125rem 0;
  border-style: solid;
  border-color: var(--red-dark);
}

.mainMiddleForm {
  position: absolute;
  top: calc(50% - 0.0625rem);
  left: calc(50% + 0.5rem + 0.725rem - 1.06rem);
  transform: rotate(-45deg);
  width: 2.12rem;
  height: 0.125rem;
  background-color: var(--red-dark);
}

.mainRightForm {
  width: calc(50% - 1.5rem - 0.5rem);
  border-width: 0.125rem 0.125rem 0 0;
  border-style: solid;
  border-color: var(--red-dark);
}

.resultSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}
