.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.paginationButton {
  width: min-content;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: 0.125rem solid #000000;
  background-color: var(--black-dark);
  color: var(--white);
  font-size: 0.5rem;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
  cursor: pointer;
}

.paginationButton:disabled {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  cursor: not-allowed;
}
