.resultLoading {
  padding: 0 1rem;
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.content {
  width: 100%;
  max-width: 27rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--green-dark);
  background-color: var(--green-light);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.errorIcon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--green-dark);
}

.errorMessage {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--green-dark);
  text-align: center;
}
