.container {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.inputBox {
  flex-grow: 1;
  height: 2.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border-width: 0.125rem 0.0625rem 0.125rem 0.125rem;
  border-style: solid;
  border-color: #000000;
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
}

.input {
  flex-grow: 1;
  font-size: 0.75rem;
  color: var(--font-color-medium);
}

.input::placeholder {
  color: var(--font-color-light);
}

.removeButton {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.removeIcon {
  width: 1rem;
  height: 1rem;
  color: var(--font-color-light);
}

.searchButton {
  height: 2.25rem;
  padding: 0 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-width: 0.125rem 0.125rem 0.125rem 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: var(--black-dark);
}

.searchIcon {
  width: 1rem;
  height: 1rem;
  color: var(--white);
}
